* text=auto
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.cjs text eol=lf
*.cmd text eol=crlf
exercises/** whitespace=-blank-at-eof,-blank-at-eol
archive/** whitespace=-blank-at-eof,-blank-at-eol
